<div data-hook="admin_orders_index_search" class="order_export">
  <%= search_form_for @search, :url => sales_report_admin_reports_path do |f| %>
    <div class="field-block alpha four columns">
      <div class="date-range-filter field">
        <%= label_tag nil, Spree.t(:date_range) %>
        <div class="date-range-fields">
          <%= f.text_field :completed_at_gt, :class => 'datepicker datepicker-from', :value => params[:q][:completed_at_gt], :placeholder => Spree.t(:start) %>

          <span class="range-divider">
            <i class="icon-arrow-right"></i>
          </span>

          <%= f.text_field :completed_at_lt, :class => 'datepicker datepicker-to', :value => params[:q][:completed_at_lt], :placeholder => Spree.t(:stop) %>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="actions filter-actions">
      <div data-hook="admin_orders_index_search_buttons">
        <%= button Spree.t(:search), 'icon-search' %>
      </div>
    </div>
  <% end %>
</div>

